<div class="row">
  <div class="col-12">
    <h2 style="color:#fff;">Consultar Vagas</h2>
    <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1">
      <div class="row text-center"
        style="background-color:#323D3D;color:#fff;margin-top: 15px;">
        <div class="col-sm-3 col-md-3 ">
          <div class="row">
            <div class="col-6 inside-div">
              <div class="circle">01</div>
            </div>
            <div class="col-6 inside-div">
              <div *ngIf="true"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="false"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>LIVRE</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 inside-div">
              <div class="circle">02</div>
            </div>
            <div class="col-6 inside-div">
              <div *ngIf="false"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="true"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>LIVRE</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 inside-div">
              <div class="circle">03</div>
            </div>
            <div class="col-6 inside-div">
              <div *ngIf="true"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="false"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>LIVRE</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 inside-div">
              <div class="circle">04</div>
            </div>
            <div class="col-6 inside-div">
              <div *ngIf="true"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="false"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>LIVRE</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 inside-div">
              <div class="circle">05</div>
            </div>
            <div class="col-6 inside-div">
              <div *ngIf="true"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="false"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>LIVRE</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6"
          style="font-size:28px;">
          VAGAS
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="row">
            <div class="col-6 inside-div">
              <div *ngIf="false"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="true"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>LIVRE</span>
              </div>
            </div>
            <div class=" col-6 inside-div">
              <div class="circle-right">06</div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 inside-div">
              <div *ngIf="true"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="false"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>LIVRE</span>
              </div>
            </div>
            <div class=" col-6 inside-div">
              <div class="circle-right">07</div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 inside-div">
              <div *ngIf="true"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="false"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>LIVRE</span>
              </div>
            </div>
            <div class=" col-6 inside-div">
              <div class="circle-right">08</div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 inside-div">
              <div *ngIf="false"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="true"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>

                <span>LIVRE</span>
              </div>
            </div>
            <div class=" col-6 inside-div">
              <div class="circle-right">09</div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 inside-div">
              <div *ngIf="false"
                class="">
                <img src="assets/img/Marker.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>OCUPADA</span>
              </div>
              <div *ngIf="true"
                class="livre">
                <img src="assets/img/Check.png"
                  class="inside-div-logo"
                  alt=""> <br>
                <span>LIVRE</span>
              </div>
            </div>
            <div class=" col-6 inside-div">
              <div class="circle-right">10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
