<div class="row">
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-green">
    <div class="col-2">
      <div class="navbar-brand"
        style="padding-left:1.25em">
        <img src="assets/img/Logo.png"
          [routerLink]="['/dashboard']"
          alt=""
          width="80px;">
      </div>
    </div>
    <div class="col-10">

      <div class="dashboard-header">
        Sistema de controle para estacionamento
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down sidebar">
      <div class="row"
        style="padding-top:15px;">
        <div class="col-12">
          <button type="button"
            name="button"
            class="nav-btn"
            [routerLink]="['/dashboard/search-vacancy']"
            [routerLinkActive]="['btn-active']"
            [routerLinkActiveOptions]="{exact:true}">Consultar Vagas</button>
        </div>
      </div>
      <div class="row"
        style="padding-top:15px;">
        <div class="col-12">
          <button type="button"
            name="button"
            class="nav-btn"
            [routerLink]="['/dashboard/new-entry']"
            [routerLinkActive]="['btn-active']"
            [routerLinkActiveOptions]="{exact:true}">Registrar Entrada</button>
        </div>
      </div>
      <div class="row"
        style="padding-top:15px;">
        <div class="col-12">
          <button type="button"
            name="button"
            class="nav-btn"
            [routerLink]="['/dashboard/close-stay']"
            [routerLinkActive]="['btn-active']"
            [routerLinkActiveOptions]="{exact:true}">Registrar Saída</button>
        </div>
      </div>
      <div class="row"
        style="padding-top:15px;">
        <div class="col-12">
          <button type="button"
            name="button"
            class="nav-btn"
            [routerLink]="['/dashboard/occurrence']"
            [routerLinkActive]="['btn-active']"
            [routerLinkActiveOptions]="{exact:true}">Registrar Ocorrência</button>
        </div>
      </div>
      <div class="row"
        style="padding-top:15px;">
        <div class="col-12">
          <button type="button"
            name="button"
            class="nav-btn"
            [routerLink]="['/dashboard/reports']"
            [routerLinkActive]="['btn-active']"
            [routerLinkActiveOptions]="{exact:true}">Relatórios</button>
        </div>
      </div>
      <div class="row"
        style="padding-top:15px;">
        <div class="col-12">
          <button type="button"
            name="button"
            class="nav-btn"
            (click)="logout()">Sair</button>
        </div>
      </div>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main-content">
      <router-outlet>
      </router-outlet>
    </main>
  </div>
</div>
