/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}


/*
 * Typography
 */


/*
 * Sidebar
 */

.bg-green {
  background-color: #044C4C;
}

.sidebar {
  background-color: #044C4C;
  position: fixed;
  top: 115px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  /*border-right: 1px solid #eee;*/
}


/* Sidebar navigation */

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item+.nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}


/*
 * Dashboard
 */


/* Placeholders */

.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-btn {
  min-width: 80%;
  margin-left: 10%;
  background-color: #EB5800;
  border-color: #000;
  /*font-size: 24px;*/
  color: #fff;
}

.btn-active {
  background-color: #ff0000;
}


/*header*/

.dashboard-header {
  font-size: 50px;
  color: #fff;
  letter-spacing: -2px;
  /*padding-left: 40px;*/
}

.main-content {
  top: 0;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 115px;
  position: fixed;
  background-color: #066566;
  bottom: 0;
}
